<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Not Yelp</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>

  </head>
  <body>
    <div class="container">
      <div class="row">
        <div>
          <div id="header" class="container jumbotron text-center">
            <h1>GA Eats SF</h1>
            <h3>(NOT Yelp...)</h3>
          </div>
          <div id="map" class="container text-center">
          </div>
          <div id="options" class="container text-center">
            <button type="button" name="Search" class="btn-sm btn-group-lg btn-info optButt">Search</button>
            <button type="button" name="Create" class="btn-sm btn-group-lg btn-success optButt">Create</button>
          </div>
          <hr>
          <div id="results" class="container text-justify">
            <div class="jumbotron resShow">
              <img class="imgRest" src="https://typeset-beta.imgix.net/rehost%2F2016%2F9%2F14%2Ff0f9c1fd-615f-42fe-aa62-3ded5a49d228.jpg" alt="restaurant">
              <ul>
                <li>Restaurant Name</li>
                <li>Address</li>
                <li>Phone#</li>
              </ul>
            </div>
            <hr>
            <div class="jumbotron resShow">
              <img class="imgRest" src="https://typeset-beta.imgix.net/rehost%2F2016%2F9%2F14%2Ff0f9c1fd-615f-42fe-aa62-3ded5a49d228.jpg" alt="restaurant">
              <ul>
                <li>Restaurant Name</li>
                <li>Address</li>
                <li>Phone#</li>
              </ul>
            </div>
            <hr>
            <div class="jumbotron resShow">
              <img class="imgRest" src="https://typeset-beta.imgix.net/rehost%2F2016%2F9%2F14%2Ff0f9c1fd-615f-42fe-aa62-3ded5a49d228.jpg" alt="restaurant">
              <ul>
                <li>Restaurant Name</li>
                <li>Address</li>
                <li>Phone#</li>
              </ul>
            </div>
            <hr>
            <div class="jumbotron resShow">
              <img class="imgRest" src="https://typeset-beta.imgix.net/rehost%2F2016%2F9%2F14%2Ff0f9c1fd-615f-42fe-aa62-3ded5a49d228.jpg" alt="restaurant">
              <ul>
                <li>Restaurant Name</li>
                <li>Address</li>
                <li>Phone#</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="footer" class="text-center">
    </div>
  </body>
</html>
